<form id="login-form" action="/login" method="post">
  <p class="required-msg"><span class="required">*</span> indicates a required field.</p>
  <input type="hidden" name="url" value="^U" />
  <div class="form-control">
    <label for="pass">Last Name</label>
    <input id="pass" name="pass" type="text">
  </div>
  <div class="form-control">
    <label for="user">Barcode</label>
    <input id="user" name="user" type="password">
  </div>
  <input type="submit" class="button" value="Submit">
</form>
