$max-width: 68.75rem; // 1100/16

$body-bg: #f7f6f5;
$body-font-color: #706259;
$body-font-family: "Open Sans", Helvetica, Helvetica, Arial, sans-serif;

$primary-color: #594A41; // brown
$secondary-color: #00747F; // teal
$alert-color: #EE3E2C; // red
$success-color: #43AC6A; // sea foam
$warning-color: #E0C300; // mustard
$info-color: #a0d3e8; //

$white: #fff;

$header-font-color: $secondary-color;
$header-font-family: 'Lato', 'Avenir Next', 'Century Gothic', sans-serif;
